<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Test Suite">

    <test name="Practice Page Test">
    
    
    <groups>
    
     <run include ="smoke" ></run>
            
    </groups>
    
   
        
        
        <classes>
        
         <class name="TestCases.Tests.SelectTests"></class>
         <class name="TestCases.Tests.LoginTest"></class>
         <class name="TestCases.Tests.LoginTestCases"></class>
         <class name="TestCases.Tests.SelectTests"></class>
         <class name="TestCases.Tests.SelectRelated"></class>
         <class name="TestCases.Tests.SimpleTest"></class>
         <class name="TestCases.Tests.TodayTestcases"></class>
         
         
         
         
           
                  
            
        </classes>
    </test>

</suite>
