<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Test Suite">

    <test name="Practice Page Test">
    
    
    <groups>
            
    </groups>
        
        
        <classes>
        
         <class name="TestCases.Tests.LoginTest"></class>
           <class name="TestCases.Tests.LoginTestCases"></class>
           <class name="TestCases.Tests.SelectTests"></class>
          
            
        
          
            
            
           
            
              
            
        </classes>
    </test>

</suite>
